  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>수상 실적</h2>
              <hr class="light">
              <p>
                  잡스 대학생 서포터즈 콘텐츠 콘테스트 대상<br>
                  잡스 대학생 서포터즈 콘텐츠 콘테스트 금상<br>
                  대한민국 공익광고제 입선<br>
                  박카스 29초 영화제 입선<br>
                  제3회 이즈앤트리 아이디어 공모전 우수상<br>
                  ‘아이 서울 유 프랜즈’ 우수활동자상<br>
                  부산국제 광고제 Crystal Star Innovation X 1<br>
                  도로교통공단 교통사고 줄이기 홍보작품 공모전 우수상<br>
                  부산국제 광고제 Finalist Branded Entertainment Videos X 1<br>
                  부산국제 광고제 Finalist Branded Information Videos X 2<br>
                  부산국제 광고제 Finalist Branded Viral Videos X 1<br>
                  부산국제 광고제 Finalist Campaign Videos X 1<br>
                  부산국제 광고제 Finalist Film X 3<br>
                  부산국제 광고제 Finalist Public Service Advertising X 1<br>
                  부산국제 광고제 Finalist Print X 1<br>
                  부산국제 광고제 Crytal Star Branded Information Videos X 1<br>
                  부산국제 광고제 Crytal Star Campaign Videos X 1<br>
                  부산국제 광고제 Crytal Star Film X 3<br>
                  서울특별시 올해의 크리에이터즈 상<br>
                  서울미래유산 대학생 캐치프레이즈 공모전 입선<br>
                  LG생활건강 디자인 공모전 입선<br>
                  부산국제광고제 프린트 파이널리스트<br>
                  온라인광고협회 온라인 광고전문가 양성과정 최종PT 준우승<br>
                  한중 웨이하이 대학생 관광 마케팅 공모전 파이널<br>
                  제29회 HSAD광고대상 CREATIVE 은상<br>
                  제29회 HSAD광고대상 IMC파이널리스트<br>
                  제8회 문화체육관광부 공모전 영상광고부문 최우수상<br>
                  제8회 문화체육관광부 공모전 인쇄부문 우수상<br>
                  지니뮤직 한신영상광고제 장려상<br>
                  현대약품 대학생 UCC대상 대상<br>
                  현대약품 대학생 UCC대상 최우수상<br>
                  제일기획 아이디어페스티벌 Innovation부문 Finalist<br>
                  장애인 고용 인신깨선문화제 광고부문 가작<br>
                  멀츠코리아 크리에이티브 아이디어 공모전 마케팅부문 장려상<br>
                  대한민국 환경사랑 공모전 지면광고부문 동상<br>
                  28회 HS애드 대학생 광고대상 IMC부분 동상<br>
                  이노션 멘토링코스 5기 최우수상<br>
                  42시간 광고공모전 본선진출<br>
                  도박중독예방현상 공모전 포스터부문 우수상<br>
                  문화광고 그랑프리 입선<br>
                  국가인권위원회 인권 공모전 지면광고부문 우수상<br>
                  이노션 멘토링코스 환경부장관상<br>
                  뉴욕페스티벌 in 여주 청춘그대상<br>
                  TBWA Korea Marketing Visit 최우수상<br>
                  27회 HS애드 대학생 광고대상 IMC부문 은상<br>
                  제2회 고공행진 마케팅캠프 기획서부문 우수상<br>
                  제2회 고공행진 마케팅캠프  UCC부문 우수상<br>
                  제2회 고공행진 마케팅캠프  특별상<br>
                  이노션 멘토링코스 4기 최우수상<br>
                  대한민국 공익광고제 특별주제부문 은상<br>
                  대한민국 공익광고제 특별주제부문 Finalist<br>
                  문화광고 그랑프리 입선<br>
                  TVCF 영크리에이티브 공모전 Finalist<br>
                  제일기획 광고대상 인쇄부분 Finalist<br>
                  Olleh Music SNS 홍보기획 공모전 1위<br>
                  Olleh Music SNS 홍보기획 공모전 2위<br>
                  제 13회 한국도로공사 광고대상 배너/플래시 부문 금상<br>
                  제 13회 한국도로공사 광고대상 배너/플래시 부문 동상<br>
                  대한한의사협회 한의학 광고공모전 대상<br>
                  대한한의사협회 한의학 광고공모전 포스터부문 최우수상<br>
                  대한한의사협회 한의학 광고공모전 영상부문 최우수상<br>
                  대한한의사협회 한의학 광고공모전 포스터부문 우수상<br>
                  대한한의사협회 한의학 광고공모전 영상부문 우수상<br>
                  KOBACO 공익광고 공모전 캠페인 기획부문 금상<br>
                  KOBACO 공익광고 공모전 캠페인 기획부문 은상<br>
                  제일기획  광고대상 인쇄부문 동상<br>
                  제일기획 광고대상 Outdoor부문 Finalist<br>
                  헌혈 공모전 아이디어부문 장려상<br>
                  제25회 HS애드 대학생 광고대상 Creative부문 대상<br>
                  부산국제광고제 영크리에이터즈부문 Bronze<br>
                  제10회 LH 대학생 광고공모전 스토리보드부문 장려상<br>
                  제2회 가톨릭대학교 LINC공모전 포트폴리오부문 최우수상<br>
                  제일기획 광고대상 인쇄부문 Finalist<br>
                  제일기획 광고대상 기획부문 Finalist<br>
                  LIG 손해보험 대학생 아이디어 공모전 동상X3<br>
                  대학생광고경진대회 KOSAC Finalist<br>
                  싱뉴메트로 기획부문 우수상<br>
                  싱뉴메트로 커뮤니케이션부문 대상<br>
                  우체국 EMS PR전략 UCC공모전 기획부문 우수상<br>
                  산업디자인매칭공모전 장려상X5<br>
                  28회 대홍기획 대학생 광고대상 TV부문 동상<br>
                  나누리병원 제4회 Design Festival 광고공모전 우수<br>
                  2011 KB 국민은행 대학생 광고공모전 TV부문 동상<br>
                  제 9회 LH 대학생 광고공모전 TV부문 장려<br>
                  대한적십자사 Hope for a child 공모전 입선<br>
                  2011 K water 물사랑 공모전 인쇄부문 우수<br>
                  2011 HS애드 광고공모전 기획부문 Finalist<br>
                  2011 KOBACO YLC 대학생 광고대회 은상<br>
                  제1회 전국대학생 스마트폰 UCC공모전 장려상X2<br>
                  KOBACO 공익광고제 일반부 동상<br>
                  KOBACO 공익광고제 학생부 동상<br>
                  KB대학생 광고 공모전 최우수상<br>
                  제23회 HS애드 대학생 광고공모전 동상<br>
                  러브테디베어 환경공익광고 공모전 Finalist<br>
                  GS칼텍스 UCC 공모전 최우수상<br>
                  제10회 대학생 글로벌 마케팅 공모전 아이디어 초이스상<br>
                  제1회 TVCF 영크리에이티브 공모전 대상<br>
                  뉴욕페스티벌 옥외부문 동상<br>
                  제9회 늘푸른 우리땅 공모전(지적공사) 방송부문 은상<br>
                  대학생 기업경영 아이디어 대학생 공모전 대상<br>
                  LG모바일 프로젝터 마케팅 공모전 기획서부문 대상<br>
                  제2회 부산국제광고제 영애드스타 4개 작품 Finalist<br>
                  경륜경정 공모전 동상<br>
                  경륜경정 공모전 2개 작품 입선<br>
                  제29회 제일기획 광고대상 옥외광고부문 은상<br>
                  한국관광공사 본선 인쇄부문 입상<br>
                  자산관리공사 인쇄부문 대상<br>
                  KRA 한국마사회 기획서부문 동상X3<br>
                  UNITAS BRAND 기획서부문 입상<br>
                  25회 대홍기획 광고공모전 인쇄부문 은상<br>
                  25회 대홍기획 광고공모전 UCC부문 동상<br>
                  HS애드 광고공모전 인쇄부문 입상<br>
                  제1회 부산국제광고제 TV부문 은상<br>
                  숙명여자대학교 PR공모전 인쇄부문 최우수상<br>
                  우정문화PR전략 공모전 기획서부문 본선 경쟁PT 입상<br>
                  NC소프트 리니지 마케팅 아이디어 공모전 Hug 최우수상<br>
                  자산관리공사 공모전 동상X2<br>
                  제2회 국민체육진흥공단 마케팅 공모전 장려상<br>
                  제19회 KOBACO AD VISION 참가<br>
                  제6회 한국도로공사 대학생 광고대상 입선<br>
                  대학생 광고경진대회 Finalist<br>
                  제19회 LGAD 대학생광고대상 특별부문 TV-CM상<br>
                  대학생 PR전략 컨테스트 입선<br>
                  세아그룹 대학생 광고공모전 마케팅 기획서부문 Finalist<br>
                  국민체육진흥공단 주최 스포츠산업 진흥 대학생 아이디어 공모전 장려상<br>
                  한국인삼공사 신제품 아이디어공모전 우수상<br>
                  제18회 KOBACO AD VISION 우수상<br>
                  한국자산관리공사 공모전 입선<br>
                  구룡쟁패 공모전 카피부문 입선<br>
                  대홍기획 대학생광고대상 대상<br>
                  제18회LGAD 대학생광고대상 기획서부문 동상<br>
                  제18회LGAD 대학생광고대상 기획서부문 Finalist<br>
                  제18회LGAD 대학생광고대상 특별부문 TV-CM상<br>
                  제18회LGAD 대학생광고대상 특별부문 Finalist<br>
                  한국PR 대학생 애드챌린지 은상<br>
                  제6회 MBC ADCOM 대학생광고공모전 Finalist<br>
                  제1회 에이즈 예방 광고공모전 입선<br>
                  대학생 애드챌린지 우수상<br>
                  제1회 한글 문화상품 아이디어 공모전 아름상<br>
                  컨버스 동여상 공모전 최우수상<br>
                  제1회 푸마 광고디자인 공모전 입선<br>
                  제1회 한국전력공사 대학생 광고공모전 TV부문 동상<br>
                  제1회 한국전력공사 대학생 광고공모전 인쇄부문 입선<br>
                  SAAB 디자인 공모전 특선<br>
                  커뮤니케이션 디자인 국제공모전 우수상<br>
                  LG생활건강 마케팅 프로모션 아이디어 공모전 2개 팀 입선<br>
                  KT&G 상상마당 마케팅리그 최우수상<br>
                  제4회 현대자동차 대학생 마케팅캠프 광고부문 장려상<br>
                  제1회 KT&G 마케팅리그 본선 진출<br>
                  제9회 금강기획 광고캠프<br>
                  제1회 전국광고동아리 광고공모전 우수상<br>
                  제1회 전국광고동아리 광고공모전 장려상<br>
                  제2회 컨디션 대학생 광고공모전 우수상<br>
                  한국도로공사 광고공모전 TV부문 동상<br>
                  한국도로공사 광고공모전 TV부문 입선X2<br>
                  KT한국통신 주최 대학생 광고공모전 TV부문 입선X2<br>
                  제14회 LG애드 광고대상 라디오부문 동상<br>
                  MBC애드컴 TV부문 입선<br>
                  제20회 공익광고대상 장려상<br>
                  제1회 컨디션 대학생 광고공모전 대상<br>
                  제1회 디킴스 대학생 인터넷 광고공모전 입선<br>
                  제22회 제일기획 대학생 광고대상 기획부문 장려상<br>
                  한국통신 주최 대학생 광고공모전 TV부문 장려상<br>
                  제13회 LG애드 대학생 광고대상 TV부문 입선<br>
                  MBC 애드컴 기획서부문 장려상<br>
                  제21회 제일기획 대학생 광고대상 기획부문 장려상<br>
                  제21회 제일기획 대학생 광고대상 기획부문 입선<br>
                  제21회 제일기획 대학생 광고대상 인쇄부문 입선<br>
                  환경보전 광고대상 인쇄부문 가작<br>
                  금강기획 애드캠프 대상<br>
                  제12회 LG애드 대학생광고대상 인쇄부문 입선<br>
                  한국통신주최 대학생 광고공모전 인쇄부문 입선<br>
                  일간스포츠 대학생 광고대상 인쇄부문 최우수상<br>
                  제18회 공익광고대상 TV부문 우수상<br>
                  솔루스 광고대상 TV부문 대상<br>
                  한국일보 광고대상 인쇄부문 우수상<br>
                  산타페 광고대상 TV부문 대상<br>
                  화장품 아이디어 기획서 공모전 특별상<br>
                  인터넷 티죤 배너광고 컨테스트 3위<br>
                  제17회 공익광고대상 인쇄부문 장려상<br>
                  대한손해보험협회 광고공모전 TV부문 입선<br>
                  제14회 대홍기획 대학생 광고대상 인쇄부문 우수상<br>
                  제1회 박카스 광고대상 기획부문 은상<br>
                  제11회 LG애드 대학생광고대상 인쇄부문 입선<br>
                  제15회 대홍기획 대학생 광고대상 라디오부문 장려상
              </p>
              <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
          </div>
      </div>
  </aside>
