<section id="curriculum">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">커리큘럼</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 10px">
                <a href="img/curriculum/1_planning.png" class="curriculum-box">
                    <img src="img/curriculum/1_planning.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="img/curriculum/2_copy.png" class="curriculum-box" style="padding: 10px">
                    <img src="img/curriculum/2_copy.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="img/curriculum/3_design.png" class="curriculum-box" style="padding: 10px">
                    <img src="img/curriculum/3_design.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
